* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: relative;

  overflow: hidden;
  background-image: url(./img/bcg.jpg);
  background-size: cover;
}
.title {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
}
.generique {
  display: flex;
  width: 75vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  transform: perspective(35vw) rotateX(60deg) scale(0.7) translateY(150vh);
  text-align: justify;
}
h1 {
  opacity: 0;
  font-family: "Poller One", cursive;
  font-size: 150px;
  text-align: center;
  color: rgb(240, 183, 13);
  animation: titre 10s ease 5s forwards;
  position: absolute;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}
h2 {
  opacity: 0;
  font-size: 50px;
  color: blue;
  animation: display 5s;
  text-align: center;
  position: absolute;
  z-index: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}
p {
  font-size: 5em;
  letter-spacing: 0.1em;
  line-height: 1em;
  color: rgb(240, 183, 13);
  animation: starWars 250s forwards ease;
}
.display {
}
@keyframes display {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes titre {
  from {
    transform: scale(1.2);
    opacity: 1;
  }
  to {
    transform: scale(0.001);
    opacity: 1;
  }
}
@keyframes starWars {
  0% {
    transform: translateY(150vh);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    transform: translateY(-5000vh);
  }
}

